services:
  apicaixainvest:
    build: .
    image: apicaixainvest:latest
    container_name: apicaixainvest
    ports:
      - "8080:8080"
    environment:
      # Ambiente
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"

      # Configuração JWT (EXATAMENTE como no appsettings.json)
      Jwt__Issuer: "ApiCaixaInvest"
      Jwt__Audience: "ApiCaixaInvestClients"
      Jwt__SecretKey: "bXlTdXBlclNlY3JldEtleV9Jc0hlcmVfMTIzNDU2Nzg5IQ=="
      Jwt__ExpirationMinutes: "60"

      # ConnectionString (SQLite dentro do container)
      ConnectionStrings__DefaultConnection: "Data Source=app.db"
